body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav_bar li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.purchaseForm {
  max-width: 80%;
  display: inline-flex;
  align-items: center;
  margin: 10px;
}

.purchaseForm label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
  margin: auto;
}

.purchaseForm input {
  margin-inline-end: 10px;
}

.purchaseForm select {
  margin-inline-end: 10px;
}

.purchaseForm #prodField {
  width: 150px;
}

.purchaseForm #lenField {
  width: 100px;
}

.purchaseForm #varietyField {
  min-width: 100px;
  width: max-content;
}

.purchaseForm #boxCount {
  width: 50px;
}

.purchaseForm #boxField {
  width: 80px;
}

.purchaseForm #qtyPerBox {
  width: 50px;
}

.purchaseForm #priceField {
  width: 80px;
}

.purchaseForm #priceField {
  width: 80px;
}

.purchaseForm #quantity-field {
  margin-inline-end: 10px;
  display: block;
  flex: none;
}

.purchaseForm #quantity-field input {
  margin: 0px;
}

.purchaseForm #prod-uom {
  display: inline
}

.purchaseForm #submit {
  margin-top: 20px;
}

form.newStandingOrder {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

form.newStandingOrder label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
  margin: 5px;
}

form.newStandingOrder select {
  align-self: center;
  min-width: 80px;
  height: 22px;
  margin: auto;
  display: block;
}

form.newStandingOrder input {
  height: 22px;
  margin: auto;
  margin-right: 5px;
  display: block;
}

form.newStandingOrder #shippingMethodField {
  margin: auto;
}

form.newStandingOrder #submit {
  margin-top: 32px;
}

form.newEvent {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

form.newEvent label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
  margin: 5px;
}

form.newEvent select {
  align-self: center;
  min-width: 80px;
  height: 22px;
  margin-right: 5px;
  display: block;
}

form.newEvent input {
  height: 22px;
  margin: auto;
  margin-right: 5px;
  display: block;
}

form.newEvent #event-store {
  margin-right: 5px;
  height: 22px;
}

form.newEvent #submit {
  margin-top: 32px;
}

#info-title {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

#info-title label {
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
}

#info-title h4 {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#product-table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  max-width: 8in;
}

#product-table thead th{
  text-decoration: underline;
  text-align: center;
  background-color: white;
  height: 25px;
  padding-left: 5px;
  padding: auto;
}

#product-table td {
  text-align: center;
  padding: 5px;
}

#product-table tbody tr:nth-child(odd){
  background-color: rgb(209, 231, 209);
}

#product-table #delete-button {
  align-content: flex-end;
  align-self: flex-end;
  padding: 0px;
  margin: 0px;
}

.list-display table {
  border-collapse: collapse;
  display: inline-table;
  width: 100%;
  max-width: 8in;
}

.list-display thead th{
  text-decoration: underline;
  text-align: center;
  background-color: white;
  height: 25px;
  padding-left: 5px;
  padding: auto;
}

.list-display td {
  text-align: center;
  padding: 5px;
}

.list-display tbody tr:nth-child(odd){
  background-color: rgb(209, 231, 209);
}

.modalButtons {
  display: inline-flex;
  align-items: center;
}

.modalButtons .openModalButton {
  margin: 10px;
}

form.newProduct {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

form.newProduct label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
  margin: 5px;
}

form.newProduct select {
  align-self: center;
  min-width: 80px;
  height: 27px;
  margin-right: 5px;
  display: block;
}

form.newProduct input {
  height: 22px;
  margin: auto;
  margin-right: 5px;
  display: block;
}

#instructions {
  list-style: circle;
  display: block;
  font-size: .8em;
}

form.newProduct #submit {
  margin-top: 32px;
  height: 27px;
}
